<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

	<!-- 出错日志 appender -->
	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 记录日志 -->
	<appender name="LOGGER" class="com.tmt.manage.logger.LoggerAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
          <pattern>%d{HH:mm:ss} - %msg%n</pattern>
        </layout>
	</appender>
	
    <!-- 输出所有的日志 -->
	<root level="info">
	    <appender-ref ref="LOGGER"/>
	    <appender-ref ref="ERROR"/>
	</root>
</configuration>