/// base
$color-primary = #007aff
$color-success = #67C23A
$color-info = #409eff
$color-warning = #E6A23C
$color-danger = #F56C6C
$color-white = #fff

//// border
$color-border = #DCDFE6
$color-border-x = #E4E7ED
$color-border-xx = #EBEEF5
$color-border-xxx = #F2F6FC

//// font
$color-font = #303133
$color-font-x = #606266
$color-font-xx = #909399
$color-font-xxx = #C0C4CC

//// gray
$color-dark-grey = #383838
$color-grey = #666
$color-light-grey = #999
$color-light-grey-s = #ccc
$color-light-grey-ss = #dcdcdc
$color-light-grey-sss = #fcfcfc
$color-active-grey = #e8e8e8

//// red
$color-red = #CC3333

//// bg
$color-bg = #f6f8f9

