// font-size vars
$fontsize-large-xxxx = 1.5rem
$fontsize-large-xxx = 1.25rem
$fontsize-large-xx = 1.1875rem
$fontsize-large-x = 1.125rem
$fontsize-large = 1.0625rem
$fontsize-medium = 1rem
$fontsize-small = .9375rem
$fontsize-small-s = .875rem
$fontsize-small-xs = .8125rem
$fontsize-small-xxs = .75rem

// radius-size
$radius-size-medium = 5px
