<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

	<!-- 控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>【%logger - %thread】 %msg%n</pattern>
		</encoder>
	</appender>
	
    <!-- 默认是错误级别 -->
	<root level="ERROR">
	    <appender-ref ref="STDOUT"/>
	</root>
	<logger name="com.swak.reactivex.threads.BlockedThreadChecker" level="INFO"/>
	<logger name="com.swak.metrics" level="INFO"/>
</configuration>