<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

	<!-- 控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>【%logger - %thread】 %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 出错日志 appender -->
	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/lifeng/logs/error/%d{yyyy-MM-dd}.master.log</fileNamePattern>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 访问日志 appender -->
	<appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/lifeng/logs/access/%d{yyyy-MM-dd-HH-mm}.master.log</fileNamePattern>
			<maxHistory>0</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	
    <!-- 默认是错误级别 -->
	<root level="ERROR">
	    <appender-ref ref="STDOUT"/>
	</root>
	
	<!-- 访问日志 -->
	<logger name="ACCESS_TRACE" level="info" additivity="false">
		<appender-ref ref="ACCESS"/>
	</logger>
	
	<!-- 常用的应用程序的日志 -->
	<logger name="com.swak.Application" level="DEBUG"/>
	<logger name="com.swak.metrics" level="DEBUG"/>
	<logger name="io.netty.util.ResourceLeakDetector" level="DEBUG"/>
	<logger name="io.netty.channel.MultithreadEventLoopGroup" level="DEBUG"/>
	<logger name="io.netty.util.internal.PlatformDependent0" level="DEBUG"/>
	<logger name="io.netty.util.internal.PlatformDependent" level="DEBUG"/>
	<logger name="io.netty.buffer.PooledByteBufAllocator" level="DEBUG"/>
	<logger name="io.netty.buffer.ByteBufUtil" level="DEBUG"/>
</configuration>