<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	default-lazy-init="true">
	
    <bean id="securityFilter" class="com.swak.security.SecurityFilterFactoryBean">
	    <property name="securityManager" ref="securityManager"/>
		<property name="filterChainDefinitions">
			<value>
				/admin/validate/code = anon
				/admin/login = authc
				/admin/logout = logout
				/admin/system/self/** = user, roles["admin", "admin:user"]
				/admin/system/attachment/** = user, roles["admin"]
				/admin/system/user/runas/** = user, roles["admin:runas"]
				/admin/system/** = user, roles["admin:system"]
				/admin/** = user, roles["admin"]
			</value>
		</property>
	</bean>
	<bean id="securityManager" class="com.swak.security.mgt.support.DefaultSecurityManager">
		<property name="realm" ref="authenticationRealm"/>
		<property name="principalStrategy" ref="principalStrategy"/>
	</bean>
	<bean id="authenticationRealm" class="com.tmt.security.AuthenticationRealm"/>
	<bean id="principalStrategy" class="com.swak.security.principal.support.TokenPrincipalStrategy"/>
	
</beans>