<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:netty="http://code.swak.com/schema/netty"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	    http://code.swak.com/schema/netty http://code.swak.com/schema/netty/netty.xsd"
	default-lazy-init="true">

	<description>Spring Configuration</description>

    <!-- 服务提供 -->
	<context:component-scan base-package="com.tmt.*"/>
	
	<!-- 引入安全服务 -->
	<import resource="classpath:*applicationContext-security.xml"/>
	
    <!-- 引入mvc服务 -->
    <import resource="classpath:*applicationContext-mvc.xml"/>
    
    <bean id="securityFilter" class="com.swak.security.SecurityFilterFactoryBean">
	    <property name="securityManager" ref="securityManager"/>
		<property name="filterChainDefinitions">
			<value>
				/admin/validate/code = anon
				/admin/login = authc
				/admin/logout = logout
				/admin/system/self/** = user, roles["admin"]
				/admin/system/attachment/** = user, roles["admin"]
				/admin/system/user/runas/** = user, roles["admin:runas"]
				/admin/system/** = user, roles["admin:system"]
				/admin/** = user, roles["admin"]
			</value>
		</property>
	</bean>
	<bean id="securityManager" class="com.swak.security.mgt.support.DefaultSecurityManager">
		<property name="realm" ref="authenticationRealm"/>
		<property name="principalStrategy" ref="principalStrategy"/>
	</bean>
	<bean id="authenticationRealm" class="com.tmt.security.AuthenticationRealm"/>
	<bean id="principalStrategy" class="com.swak.security.principal.support.TokenPrincipalStrategy"/>
	
	<bean name="dispatcherServlet" class="com.swak.mvc.DispatcherServletFactoryBean"/>

	<!-- http服务 -->
	<netty:server host="127.0.0.1" port="8080" enableGzip="true">
	    <!-- 将安全filter设置为全局的filter -->
	    <netty:filter filter-name="securityFilter"/>
		<netty:servlet servlet-name="dispatcherServlet"/>
	</netty:server>
	
	<!-- rpc 服务 -->
	<bean class="com.swak.rpc.boot.ClientBooter"></bean>
</beans>