.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
/*====================================================
	上传文件（图片等）
====================================================*/
.uploader-warp * {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.uploader-warp :after, 
.uploader-warp :before {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.uploader-warp {
  padding: 10px 15px;
}
.uploader-warp .uploader {
	position: relative;
}
.uploader-warp .uploader .element-invisible { 
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.uploader-warp .uploader .filelist {
    list-style: none;
    margin: 0;
}
.uploader-warp .uploader .filelist:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}
.uploader-warp .uploader .filelist li {
    text-align: center;
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px;
    float: left;
	margin-right: 9px;
	margin-bottom: 9px;
	width: 79px;
	height: 79px;
	background: no-repeat center center;
	background-size: cover;
}
.uploader-warp .uploader .filelist li p.log {
    position: relative;
    top: -45px;
}
.uploader-warp .uploader .filelist li p.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    top: 5px;
    text-indent: 5px;
    text-align: left;
}
.uploader-warp .uploader .filelist li p.progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 8px;
    overflow: hidden;
    z-index: 50;
    margin: 0;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: 0 0 0;
}
.uploader-warp .uploader .filelist li p.progress span {
    display: none;
    overflow: hidden;
    width: 0;
    height: 100%;
    background: #1483d8 url(/static/webuploader/img/progress.png) repeat-x;
    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;
    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;
    -webkit-transform: translateZ(0);
}
.uploader-warp .uploader .filelist li p.imgWrap {
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
    -ms-transition: 200ms ease-out;
    transition: 200ms ease-out;
}
.uploader-warp .uploader .filelist li p.imgWrap:HOVER {
   border-color: #5CB85C;
}
.uploader-warp .uploader .filelist li img {
    width: 100%;
}
.uploader-warp .uploader .filelist li p.error {
    background: #f43838;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 28px;
    line-height: 28px;
    width: 100%;
    z-index: 1;
}
.uploader-warp .uploader .filelist li .success {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 1;
    background: url(/static/webuploader/img/success.png) no-repeat right bottom;
}
.uploader-warp .uploader .filelist div.file-panel {
    position: absolute;
    height: 30px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000')\0;
    background: rgba( 0, 0, 0, 0.5 );
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    display: none;
}
.uploader-warp .uploader .filelist div.file-panel span {
    width: 24px;
    height: 24px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(/static/webuploader/img/icons.png) no-repeat;
    margin: 5px 1px 1px;
    cursor: pointer;
}
.uploader-warp .uploader .filelist div.file-panel span.rotateLeft {
    background-position: 0 -24px;
}
.uploader-warp .uploader .filelist div.file-panel span.rotateLeft:hover {
    background-position: 0 0;
}
.uploader-warp .uploader .filelist div.file-panel span.rotateRight {
    background-position: -24px -24px;
}
.uploader-warp .uploader .filelist div.file-panel span.rotateRight:hover {
    background-position: -24px 0;
}
.uploader-warp .uploader .filelist div.file-panel span.cancel {
    background-position: -48px -24px;
}
.uploader-warp .uploader .filelist div.file-panel span.cancel:hover {
    background-position: -48px 0;
}
.uploader-warp .statusBar {
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   padding-bottom: 10px;
}
.uploader-warp .statusBar .title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.uploader-warp .statusBar .progress span.percentage {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
.uploader-warp .statusBar .progress span.text {
    position: relative;
    z-index: 10;
}
.uploader-warp .statusBar .info {
    text-align: right;
    color: #888;
}
.uploader-warp .auto-uploader  .webuploader-container{
   display: inline-block;
   float: left;
}
.webuploader-pick {
   position: relative;
   margin-right: 9px;
   margin-bottom: 9px;
   width: 77px;
   height: 77px;
   border: 1px solid #D9D9D9;
   background: #fff;
}
.webuploader-pick:before {
   width: 2px;
   height: 39.5px;
}
.webuploader-pick:after {
   width: 39.5px;
   height: 2px;
}
.webuploader-pick:before, .webuploader-pick:after {
   content: " ";
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   background-color: #D9D9D9;
}