.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}
/*====================================================
	上传文件（图片等）
====================================================*/
.uploader-warp * {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.uploader-warp :after, 
.uploader-warp :before {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.uploader-warp .uploader {
	position: relative;
	margin-bottom: 20px;
}
.uploader-warp .uploader .uploader-title {
   border: 1px solid #ddd;
   background-color: #F5F5F5;
   margin-bottom: -1px;
}
.uploader-warp .uploader .uploader-title  h4,
.uploader-warp .uploader .uploader-title  small {
   margin-left: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.uploader-warp .uploader .queueList {
    border: 1px solid #e6e6e6;
    border-top-style: solid;
}
.uploader-warp .uploader .queueList.filled {
    padding: 17px;
    margin: 0;
    border: 3px dashed transparent;
}
.uploader-warp .uploader .queueList.webuploader-dnd-over {
    border: 3px dashed #999999;
}
.uploader-warp .uploader p {margin: 0;}

.uploader-warp .uploader .element-invisible { 
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.uploader-warp .uploader .placeholder {
    min-height: 350px;
    padding-top: 128px;
    text-align: center;
    background: url(/static/webuploader/img/image.png) center 43px no-repeat;
    color: #cccccc;
    font-size: 18px;
    position: relative;
}
.uploader-warp .uploader .placeholder .webuploader-pick {
    font-size: 18px;
    background: #00b7ee;
    border-radius: 3px;
    line-height: 44px;
    padding: 0 30px;
    *width: 120px;
    color: #fff;
    display: inline-block;
    margin: 0 auto 20px auto;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.uploader-warp .uploader .placeholder .webuploader-pick-hover {
    background: #00a2d4;
}
.uploader-warp .uploader .placeholder .flashTip {
    color: #666666;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
}
.uploader-warp .uploader .placeholder .flashTip a {
    color: #0785d1;
    text-decoration: none;
}
.uploader-warp .uploader .placeholder .flashTip a:hover {
    text-decoration: underline;
}
.uploader-warp .uploader .filelist {
    list-style: none;
    margin: 0;
    padding: 10px;
}
.uploader-warp .uploader .filelist:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}
.uploader-warp .uploader .filelist li {
    width: 120px;
    height: 120px;
    background: url(/static/webuploader/img/bg.png) no-repeat;
    text-align: center;
    margin: 0 8px 20px 0;
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px;
}
.uploader-warp .uploader .filelist li p.log {
    position: relative;
    top: -45px;
}
.uploader-warp .uploader .filelist li p.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    top: 5px;
    text-indent: 5px;
    text-align: left;
}
.uploader-warp .uploader .filelist li p.progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 8px;
    overflow: hidden;
    z-index: 50;
    margin: 0;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: 0 0 0;
}
.uploader-warp .uploader .filelist li p.progress span {
    display: none;
    overflow: hidden;
    width: 0;
    height: 100%;
    background: #1483d8 url(/static/webuploader/img/progress.png) repeat-x;

    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;

    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;

    -webkit-transform: translateZ(0);
}
.uploader-warp .uploader .filelist li p.imgWrap {
    position: relative;
    z-index: 2;
    vertical-align: middle;
    overflow: hidden;
    width: 120px;
    height: 120px;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
    -ms-transition: 200ms ease-out;
    transition: 200ms ease-out;
}
.uploader-warp .uploader .filelist li p.imgWrap:HOVER {
   border-color: #5CB85C;
}
.uploader-warp .uploader .filelist li img {
    width: 100%;
}
.uploader-warp .uploader .filelist li p.error {
    background: #f43838;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 28px;
    line-height: 28px;
    width: 100%;
    z-index: 100;
}
.uploader-warp .uploader .filelist li .success {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 200;
    background: url(/static/webuploader/img/success.png) no-repeat right bottom;
}
.uploader-warp .uploader .filelist div.file-panel {
    position: absolute;
    height: 30px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000')\0;
    background: rgba( 0, 0, 0, 0.5 );
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 300;
    display: none;
}
.uploader-warp .uploader .filelist div.file-panel span {
    width: 24px;
    height: 24px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(/static/webuploader/img/icons.png) no-repeat;
    margin: 5px 1px 1px;
    cursor: pointer;
}
.uploader-warp .uploader .filelist div.file-panel span.rotateLeft {
    background-position: 0 -24px;
}
.uploader-warp .uploader .filelist div.file-panel span.rotateLeft:hover {
    background-position: 0 0;
}

.uploader-warp .uploader .filelist div.file-panel span.rotateRight {
    background-position: -24px -24px;
}
.uploader-warp .uploader .filelist div.file-panel span.rotateRight:hover {
    background-position: -24px 0;
}

.uploader-warp .uploader .filelist div.file-panel span.cancel {
    background-position: -48px -24px;
}
.uploader-warp .uploader .filelist div.file-panel span.cancel:hover {
    background-position: -48px 0;
}
.uploader-warp .uploader .statusBar {
    height: 63px;
    border: 1px solid #dadada;
    padding: 0 20px;
    line-height: 63px;
    vertical-align: middle;
    position: relative;
    background-color: #FAFAFA;
    border-top: 0;
}
.uploader-warp .uploader .statusBar .progress {
    border: 1px solid #1483d8;
    width: 198px;
    background: #fff;
    height: 18px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #6dbfff;
    position: relative;
    margin: 0 10px 0 0;
}
.uploader-warp .uploader .statusBar .progress span.percentage {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: #1483d8;
    position: absolute;
}
.uploader-warp .uploader .statusBar .progress span.text {
    position: relative;
    z-index: 10;
}
.uploader-warp .uploader .statusBar .info {
    display: inline-block;
    font-size: 14px;
    color: #666666;
}
.uploader-warp .uploader .statusBar .btns {
    position: absolute;
    top: 10px;
    right: 20px;
    line-height: 40px;
}
.uploader-warp .uploader .btns .filePicker2 {
    display: inline-block;
    float: left;
}
.uploader-warp .uploader .statusBar .btns .webuploader-pick,
.uploader-warp .uploader .statusBar .btns .uploadBtn,
.uploader-warp .uploader .statusBar .btns .uploadBtn.state-uploading,
.uploader-warp .uploader .statusBar .btns .uploadBtn.state-paused {
    background: #ffffff;
    border: 1px solid #cfcfcf;
    color: #565656;
    padding: 0 18px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    float: left;
}
.uploader-warp .uploader .statusBar .btns .webuploader-pick-hover,
.uploader-warp .uploader .statusBar .btns .uploadBtn:hover,
.uploader-warp .uploader .statusBar .btns .uploadBtn.state-uploading:hover,
.uploader-warp .uploader .statusBar .btns .uploadBtn.state-paused:hover {
    background: #f0f0f0;
}
.uploader-warp .uploader .statusBar .btns .uploadBtn {
    background: #00b7ee;
    color: #fff;
    border-color: transparent;
}
.uploader-warp .uploader .statusBar .btns .uploadBtn:hover {
    background: #00a2d4;
}
.uploader-warp .uploader .statusBar .btns .uploadBtn.disabled {
    pointer-events: none;
    opacity: 0.6;
}
.uploader-warp .auto-uploader .placeholder {
   min-height: 135px;
   background: none;
   padding-top: 0;
}
.uploader-warp .auto-uploader .placeholder p {
   position: absolute;
   left: 140px;
   padding: 0;
   margin: 0;
   z-index: 1;
   top: 60px;
   color: #ccc;
   padding-left: 100px;
}
.uploader-warp .auto-uploader  .webuploader-container{
   width: 95px;
   height: 95px;
   display: inline-block;
   float: left;
   margin: 20px 20px 20px 20px;
}
.uploader-warp .auto-uploader  .webuploader-container .webuploader-pick {
   width: 93px;
   height: 93px;
   display: block;
   background: url(/static/webuploader/img/sprite_w.png) -202px -2px no-repeat;
   border: 1px solid #d5d5d5;
   padding: 0;
   margin: 0;
   text-indent: -9999em;
}
.uploader-warp .auto-uploader .webuploader-container .webuploader-pick.webuploader-pick-hover {
   background-position:-102px -2px;
}
/*====================================================
	上传文件对话框
====================================================*/
.uploader-dialog .uploader {
  margin-bottom: 0;
}
.uploader-dialog .uploader .queueList{
  border: 0;
  overflow: auto;
}
.uploader-dialog .uploader .placeholder {
  min-height: inherit;
}
.uploader-dialog .uploader .statusBar {
  border: 0;
  background-color: #F0F4F7;
  border-top: 1px solid #c9c9c9;
}
.uploader-warp .uploader .statusBar .btns .filePicker-btn .webuploader-pick,
.uploader-warp .uploader .statusBar .btns a {
  height: 40px;
  line-height: 40px;
  margin: 0 8px;
  padding: 0 20px;
  background: #5FBFE7;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 0px solid #cfcfcf;
  border-radius: 0px;
}
.uploader-warp .uploader .filelist li p.imgWrap .file-preview {
	
}
.uploader-warp .uploader .filelist li p.imgWrap .file-title {
    color: #333;
}
/* 在线文件的文件预览图标 */
i.file-preview {
    display: block;
    margin: 10px auto;
    width: 70px;
    height: 70px;
    background-image: url("/static/webuploader/img/file-icons.png");
    background-position: -140px center;
    background-repeat: no-repeat;
}
i.file-preview.file-type-dir,
i.file-preview.file-type-DIR{
    background-position: 0 center;
}
i.file-preview.file-type-file{
    background-position: -140px center;
}
i.file-preview.file-type-filelist{
    background-position: -210px center;
}
i.file-preview.file-type-zip,
i.file-preview.file-type-rar,
i.file-preview.file-type-7z,
i.file-preview.file-type-tar,
i.file-preview.file-type-gz,
i.file-preview.file-type-bz2{
    background-position: -280px center;
}
i.file-preview.file-type-xls,
i.file-preview.file-type-xlsx{
    background-position: -350px center;
}
i.file-preview.file-type-doc,
i.file-preview.file-type-docx{
    background-position: -420px center;
}
i.file-preview.file-type-ppt,
i.file-preview.file-type-pptx{
    background-position: -490px center;
}
i.file-preview.file-type-vsd{
    background-position: -560px center;
}
i.file-preview.file-type-pdf{
    background-position: -630px center;
}
i.file-preview.file-type-txt,
i.file-preview.file-type-md,
i.file-preview.file-type-json,
i.file-preview.file-type-htm,
i.file-preview.file-type-xml,
i.file-preview.file-type-html,
i.file-preview.file-type-js,
i.file-preview.file-type-css,
i.file-preview.file-type-php,
i.file-preview.file-type-jsp,
i.file-preview.file-type-asp{
    background-position: -700px center;
}
i.file-preview.file-type-apk{
    background-position: -770px center;
}
i.file-preview.file-type-exe{
    background-position: -840px center;
}
i.file-preview.file-type-ipa{
    background-position: -910px center;
}
i.file-preview.file-type-mp4,
i.file-preview.file-type-swf,
i.file-preview.file-type-mkv,
i.file-preview.file-type-avi,
i.file-preview.file-type-flv,
i.file-preview.file-type-mov,
i.file-preview.file-type-mpg,
i.file-preview.file-type-mpeg,
i.file-preview.file-type-ogv,
i.file-preview.file-type-webm,
i.file-preview.file-type-rm,
i.file-preview.file-type-rmvb{
    background-position: -980px center;
}
i.file-preview.file-type-ogg,
i.file-preview.file-type-wav,
i.file-preview.file-type-wmv,
i.file-preview.file-type-mid,
i.file-preview.file-type-mp3{
    background-position: -1050px center;
}
i.file-preview.file-type-jpg,
i.file-preview.file-type-jpeg,
i.file-preview.file-type-gif,
i.file-preview.file-type-bmp,
i.file-preview.file-type-png,
i.file-preview.file-type-psd{
    background-position: -140px center;
}