.ui-icon-ellipsis { background: url(img/icon-select.gif) 55% 55% no-repeat #FFF;}
.ui-ellipsis .ui-icon{border:none;right:0;top:50%;width:16px;height:16px;margin-top:-8px;cursor:pointer;overflow:hidden;position:absolute}
/**
.select2-drop-active
.select2-container-active .select2-choice, .select2-container-active .select2-choices
*/
@charset "utf-8";
/* Select -- Version: 3.5.1 Timestamp: Tue Jul 22 18:58:56 EDT 2014 */
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    width: 220px;
    margin-bottom: 10px;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.
    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
}

.select2-container .select2-choice {
    display: block;
    height: 28px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 28px;
    color: #444;
    text-decoration: none;
    background-clip: padding-box;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    background-color: #fff;
    
    background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

html[dir="rtl"] .select2-container .select2-choice {
    padding: 0 8px 0 0;
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #aaa;
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 42px;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: none;
    width: auto;
    font-size: 14px;
}

html[dir="rtl"] .select2-container .select2-choice > .select2-chosen {
    margin-left: 26px;
    margin-right: 0;
}

.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('../img/select2/select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
    display: inline-block;
}

.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 9998;
    /* styles required for IE to work */
    background-color: #fff;
    filter: alpha(opacity=0);
}

.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;

    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;

    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.select2-drop.select2-drop-above {
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;

    border-radius: 4px 4px 0 0;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.select2-drop-active {
    border: 1px solid #cccccc;
    border-top: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #cccccc;
}

.select2-drop-auto-width {
    border-top: 1px solid #aaa;
    width: auto;
}

.select2-drop-auto-width .select2-search {
    padding-top: 4px;
}

.select2-container .select2-choice .select2-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #fff;
    
    background-clip: padding-box;
    background: #fff;
    
    background-color: #ffffff;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow {
    left: 0;
    right: auto;

    border-left: none;
    border-right: 1px solid #aaa;
    border-radius: 4px 0 0 4px;
}

.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/select2/select2.png') no-repeat 0 1px;
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow b {
    background-position: 2px 1px;
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    z-index: 10000;
    white-space: nowrap;
}

.select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;

    outline: 0;
    font-family: sans-serif;
    font-size: 1em;

    border: 1px solid #aaa;
    border-radius: 0;

    -webkit-box-shadow: none;
            box-shadow: none;

    background: #fff url('../img/select2/select2.png') no-repeat 100% -22px;
    background: url('../img/select2/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('../img/select2/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../img/select2/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../img/select2/select2.png') no-repeat 100% -22px, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0;
}

html[dir="rtl"] .select2-search input {
    padding: 4px 5px 4px 20px;

    background: #fff url('../img/select2/select2.png') no-repeat -37px -22px;
    background: url('../img/select2/select2.png') no-repeat -37px -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('../img/select2/select2.png') no-repeat -37px -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../img/select2/select2.png') no-repeat -37px -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../img/select2/select2.png') no-repeat -37px -22px, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0;
}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}

.select2-search input.select2-active {
    background: #fff url('../img/select2/spinner.gif') no-repeat 100%;
    background: url('../img/select2/spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('../img/select2/spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../img/select2/spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../img/select2/spinner.gif') no-repeat 100%, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #cccccc;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.select2-dropdown-open .select2-choice {
	 background-color: #fff;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid #ccc;
    border-top-color: transparent;
}

.select2-dropdown-open .select2-choice .select2-arrow {
    background: transparent;
    border-left: none;
    filter: none;
}
html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow {
    border-right: none;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -16px 1px;
}

.select2-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* results */
.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html[dir="rtl"] .select2-results {
    padding: 0 4px 0 0;
    margin: 4px 0 4px 4px;
}

.select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
}

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}

.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;

    min-height: 1em;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.select2-results-dept-1 .select2-result-label { padding-left: 20px }
.select2-results-dept-2 .select2-result-label { padding-left: 40px }
.select2-results-dept-3 .select2-result-label { padding-left: 60px }
.select2-results-dept-4 .select2-result-label { padding-left: 80px }
.select2-results-dept-5 .select2-result-label { padding-left: 100px }
.select2-results-dept-6 .select2-result-label { padding-left: 110px }
.select2-results-dept-7 .select2-result-label { padding-left: 120px }

.select2-results .select2-highlighted {
    background: #3875d7;
    color: #fff;
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: #fff;
    color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
    padding-left: 5px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('../img/select2/spinner.gif') no-repeat 100%;
}

.select2-results .select2-ajax-error {
    background: rgba(255, 50, 50, .2);
}

.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
    display: none;
}


/* multiselect */

.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative;

    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;

    background-color: #fff;
    
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

html[dir="rtl"] .select2-container-multi .select2-choices {
    padding: 0 0 0 5px;
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #cccccc;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
html[dir="rtl"] .select2-container-multi .select2-choices li
{
    float: right;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
    margin: 0;
    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent !important;
    height: 30px;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #fff url('../img/select2/spinner.gif') no-repeat 100% !important;
}

.select2-default {
    color: #999 !important;
    font-size: 14px;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;

    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;

    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #e4e4e4;
}
html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice
{
    margin: 3px 5px 3px 0;
    padding: 3px 18px 3px 5px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
    cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4;
}

.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;

    font-size: 1px;
    outline: none;
    background: url('../img/select2/select2.png') right top no-repeat;
}
html[dir="rtl"] .select2-search-choice-close {
    right: auto;
    left: 3px;
}

.select2-container-multi .select2-search-choice-close {
    left: 3px;
}

html[dir="rtl"] .select2-container-multi .select2-search-choice-close {
    left: auto;
    right: 2px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {    display: none;
    background: none;
}
/* end multiselect */


.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}

.select2-display-none {
    display: none;
}

.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}

/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx)  {
    .select2-search input,
    .select2-search-choice-close,
    .select2-container .select2-choice abbr,
    .select2-container .select2-choice .select2-arrow b {
        background-image: url('../img/select2/select2x2.png') !important;
        background-repeat: no-repeat !important;
        background-size: 60px 40px !important;
    }

    .select2-search input {
        background-position: 100% -21px !important;
    }
}

/************ tagsinput *******/
div.tagsinput { position:relative;border: 1px solid #dadada; background: #fff; padding: 5px; width: 100%; overflow-y: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;min-height: 45px; }
div.tagsinput span.tag { border: 1px solid #a5d24a; display: block; float: left; padding: 0 8px; background: #cde69c; color: #638421; margin: 5px 5px 5px 5px; line-height: 23px; font-size: 12px; }
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; font-size: 11px; float: right; } 
div.tagsinput input { width: 60px; border: none; padding: 6px 2px; background: transparent; margin: 5px 5px 5px 4px; font-size: 11px; }
div.tagsinput input:focus { outline: 0; }
div.tagsinput div { display: block; float: left; position: relative; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid { background: #FBD8DB !important; color: #90111A !important;}
.tagsinput .ui-helper-hidden-accessible { display: none; }
div.tagsinput div.tagssearcher{ position:absolute; bottom: 1px;right: 1px; background: url("../img/add.jpg"); padding-left: 18px;padding-top: 18px;cursor: pointer;}

/************ treeselect *******/
.treeselect-offscreen, .treeselect-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}
.treeselect-container,
.treeselect-dropdown{
  -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
}
.treeselect-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    width: 220px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
}
.treeselect-container .treeselect-choice {
    display: block;
    height: 28px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    line-height: 28px;
    color: #444;
    text-decoration: none;
    background-clip: padding-box;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.treeselect-container .treeselect-choice > .treeselect-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: none;
    width: auto;
}
.treeselect-container .treeselect-choice > .treeselect-chosen.treeselect-default {
    color: #999 !important;
    font-size: 14px;
}
.treeselect-container .treeselect-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('../img/select2/select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
    z-index: 99;
}
.treeselect-container .treeselect-choice:HOVER abbr{
	display: block;
}
.treeselect-container .treeselect-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}
.treeselect-container .treeselect-choice .treeselect-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #fff;
    
    background-clip: padding-box;
    background: #fff;
    
    background-color: #ffffff;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.treeselect-container .treeselect-choice .treeselect-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/select2/select2.png') no-repeat 0 1px;
}
.treeselect-container .treeselect-dropdown-wrapper {
	position: relative;
	width: 100%;
	display: block;
}
.treeselect-container .treeselect-dropdown {
	display: none;
    width: 100%;
    min-height: 150px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 250px;
    overflow:auto;

}
.treeselect-container[dir='up'] .treeselect-dropdown {
	top:-280px;
	border-top: 1px solid #ccc;
	border-bottom: 0;
}
.treeselect-container-open .treeselect-dropdown {
   display: block;
}
.treeselect-container-open .treeselect-choice {
	 background-color: #fff;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.treeselect-container-open .treeselect-result-loading {
  height: 32px;
  padding-left: 40px;
  background-image: url("../img/loading.gif");
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 32px;
}

/************ iSelect *******/
.iSelect-offscreen, .iSelect-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}
.iSelect-container,
.iSelect-dropdown{
  -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
}
.iSelect-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    width: 220px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
}
.iSelect-container .iSelect-choice {
    display: block;
    height: 28px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    line-height: 28px;
    color: #444;
    text-decoration: none;
    background-clip: padding-box;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.iSelect-container .iSelect-choice > .iSelect-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: none;
    width: auto;
}
.iSelect-container .iSelect-choice > .iSelect-chosen.iSelect-default {
    color: #999 !important;
    font-size: 14px;
}
.iSelect-container .iSelect-choice .iSelect-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #fff;
    
    background-clip: padding-box;
    background: #fff;
    
    background-color: #ffffff;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.iSelect-container .iSelect-choice .iSelect-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/select2/select2.png') no-repeat 0 1px;
}
.iSelect-container .iSelect-dropdown-wrapper {
	position: relative;
	width: 100%;
	display: block;
}
.iSelect-container .iSelect-dropdown {
	display: none;
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;
    overflow:auto;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    overflow: hidden;
}
.iSelect-container .iSelect-dropdown .iSelect-dropdown-items {
    max-height: 250px;
    overflow-y: auto;
}
.iSelect-container .iSelect-dropdown .iSelect-dropdown-items>li>a{
    padding: 4px 7px;
    color: #555;
}
.iSelect-container .iSelect-dropdown .iSelect-dropdown-items>li.active>a {
    background-color: #D2D2D2;
}
.iSelect-container[dir='up'] .iSelect-dropdown {
	top:-280px;
	border-top: 1px solid #aaa;
	border-bottom: 0;
}
.iSelect-container-open .iSelect-dropdown {
   display: block;
}
.iSelect-container-open .iSelect-choice {
	border-color: #aaa;
	 background-color: #fff;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.iSelect-container-open .iSelect-result-loading {
  height: 32px;
  padding-left: 40px;
  background-image: url("../img/loading.gif");
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 32px;
}
.iSelect-container .iSelect-dropdown.iSelect-add-wrap {
  min-height: 28px;
}
.iSelect-container .iSelect-add-wrap .iSelect-add {
  line-height: 28px;
  height: 28px;
  border-top: 1px solid #ddd;
  text-align: center;
  background-color: #FAFAFA;
  color: #333;
}
.iSelect-container .iSelect-add-wrap .iSelect-add .fa {
  margin-right: 5px;
}

/************ areaselect *******/
.areaselect-offscreen, .areaselect-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}
.areaselect-container,
.areaselect-dropdown{
  -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
}
.areaselect-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    width: 220px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
}
.areaselect-container .areaselect-choice {
    display: block;
    height: 28px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    line-height: 28px;
    color: #444;
    text-decoration: none;
    background-clip: padding-box;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.areaselect-container .areaselect-choice > .areaselect-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: none;
    width: auto;
}
.areaselect-container .areaselect-choice > .areaselect-chosen.areaselect-default {
    color: #999 !important;
    font-size: 14px;
}
.areaselect-container .areaselect-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('../img/select2/select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
    z-index: 99;
}
.areaselect-container .areaselect-choice:HOVER abbr{
	display: block;
}
.areaselect-container .areaselect-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}
.areaselect-container .areaselect-choice .areaselect-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #fff;
    
    background-clip: padding-box;
    background: #fff;
    
    background-color: #ffffff;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.areaselect-container .areaselect-choice .areaselect-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/select2/select2.png') no-repeat 0 3px;
}
.areaselect-container .areaselect-dropdown-wrapper {
	position: relative;
	width: 100%;
	display: block;
}
.areaselect-container .areaselect-dropdown {
	display: none;
    width: 100%;
    min-height: 150px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    height: 250px;
    overflow:auto;
    border-top-width: 0;
}
.areaselect-container[dir='up'] .areaselect-dropdown {
	top:-280px;
	border-top: 1px solid #ccc;
	border-bottom: 0;
}
.areaselect-container-open .areaselect-dropdown {
   display: block;
}
.areaselect-container-open .areaselect-choice {
	 background-color: #fff;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.areaselect-container-open .areaselect-result-loading {
  height: 32px;
  padding-left: 40px;
  background-image: url("../img/loading.gif");
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 32px;
}
.areaselect-nav {
  border-bottom: 1px solid #ccc;
  background: #f0f0f0;
}
.areaselect-nav:AFTER {
  content: "";
  display: block;
  clear: both;
}
.areaselect-nav>li{
  float: left;
  width: 25%;
}
.areaselect-nav>li>a {
  display: block;
  line-height: 40px;
  text-align: center;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  color: #333;
  margin-bottom: -1px;
}
.areaselect-nav>li:FIRST-CHILD>a{
  border-left: 0;
}
.areaselect-nav>li.active>a {
  background-color: #fff;
  color: #f60;
  border-bottom: 1px solid #fff;
}
.areaselect-panels {
  overflow: auto;
}
.areaselect-panel {
  display: none;
}
.areaselect-panel:AFTER {
  content: "";
  display: block;
  clear: both;
}
.areaselect-panel.active {
  display: block;
}
.areaselect-panel>a {
  display: block;
  float: left;
  padding: 4px 7px;
  text-align: center;
}
.areaselect-panel>a:HOVER {
  background-color: #fff8f3;
  border-radius: 2px;
  color: #f60;
}
.areaselect-panel>a.active {
  background-color: #f60;
  color: #fff;
  border-radius: 2px;
}
/************ citypicker *******/
.city-picker-input {opacity: 0 !important;top: -9999px;left: -9999px;position: absolute;}
.city-picker-container {
    margin: 0;
    position: relative;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    width: 240px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.city-picker-container .city-picker-choice {
    display: block;
    height: 32px; line-height:24px;
    padding:4px 0px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    color: #ccc;
    background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.city-picker-container .city-picker-choice > .placeholder{
    color: #aaa;
    padding-left: 5px;
}
.city-picker-container .city-picker-choice > .title > .select-item {
   color: #333;
   padding: 4px;
   border-radius: 3px;
}
.city-picker-container .city-picker-choice > .title > .select-item:hover {
  background-color: #f1f8ff;
}
.city-picker-container .city-picker-choice .arrow {
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -12px;
  font-size: 14px;
}
.city-picker-container .city-picker-dropdown {
    position: relative;
	width: 100%;
}
.city-picker-container .city-select-wrap {
    width: 100%;
    min-height: 150px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    overflow:auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    min-width: 320px;
    margin-top: -1px;
}
.city-picker-container .city-select-wrap .city-select-tab {
  border-bottom: 1px solid #ccc;
  background: #f0f0f0;
  font-size: 13px;
}
.city-picker-container .city-select-tab > a {
  display: inline-block;
  padding: 8px 22px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid transparent;
  color: #4D4D4D;
  text-align: center;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: -1px;
}
.city-picker-container .city-select-tab > a:first-child {
  border-left: none;
}
.city-picker-container .city-select-tab > a.active {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: #46A4FF;
}
.city-picker-container .city-select-tab > a:LAST-child.active {
  border-right: 1px solid #ccc;
}
.city-picker-container .city-select-content {
  width: 100%;
  min-height: 10px;
  background-color: #fff;
  padding: 10px 15px;
}
.city-picker-container .city-select-content .city-select {
  font-size: 13px;
}
.city-select dl {
  line-height: 2;
  clear: both;
  padding: 3px 0;
  margin: 0;
}
.city-select dt {
  position: absolute;
  width: 2.5em;
  font-weight: 500;
  text-align: right;
  line-height: 2;
}
.city-select dd {
  margin-left: 0;
  line-height: 2;
}
.city-select.province dd {
  margin-left: 3em;
}
.city-select a {
  display: inline-block;
  padding: 0 10px;
  outline: 0;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 2px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.city-select a:hover, .city-select a:focus {
  background-color: #f1f8ff;
  border-radius: 2px;
  color: #46A4FF;
}
.city-select a.active {
  background-color: #46A4FF;
  color: #fff;
  border-radius: 2px;
}
/************ combo *******/
.ui-combo-wrap{position:relative;display:inline-block;height:28px;vertical-align:middle;background-color:#fff;border:1px solid #D6DEE3;color:#555;overflow:hidden;zoom:1}.ui-combo-wrap:hover{border:1px solid #A8B3B9}.ui-combo-wrap .input-txt{outline:0;float:left;padding:5px;height:18px;line-height:18px;color:#555;border:0}.ui-combo-wrap .trigger{float:left;width:16px;height:100%;overflow:hidden;background-position:0 -16px}.ui-combo-wrap .trigger:hover{background-position:-16px -16px}.ui-combo-active,.ui-combo-active:hover{border:1px solid #2CA1B3}.ui-combo-disabled .input-txt{background-color:#f0f0f0;color:#aaa}.ui-combo-disabled .trigger,.ui-combo-disabled .trigger:hover{background-color:#f0f0f0;background-position:0 -16px}.ui-combo-disabled .ui-icon-ellipsis{display:none}.ui-combo-disabled:hover{border:1px solid #D6DEE3}.ui-droplist-wrap{background:#fff;border:1px solid #aaa;box-shadow:0 1px 3px rgba(0,0,0,.15);z-index:500}.ui-droplist-wrap .droplist{background-color:#fff;position:relative}.ui-droplist-wrap .list-item{padding:2px 5px;line-height:22px;cursor:default;overflow:hidden}.ui-droplist-wrap .loading{line-height:26px;padding:5px 5px 5px 40px;background:url(../img/loading.gif) 10px center no-repeat}.ui-droplist-wrap .tips{line-height:18px;padding:5px}.ui-droplist-wrap .on{background-color:#eee}.ui-droplist-wrap .selected{background-color:#d2d2d2}.ui-subjectList-wrap .list-item{font-size:12px}.ui-combo-wrap-small{height:22px}.ui-combo-wrap-small .input-txt{padding:3px 5px;height:14px;font-size:12px;line-height:14px}.ui-droplist-wrap-small .list-item{font-size:12px;line-height:20px}.ui-combo-wrap-small .trigger{background-position:0 -19px}.ui-combo-wrap-small .trigger:hover{background-position:-16px -19px}.ui-droplist-wrap .extra-list-ctn{border-top:1px solid #ddd;background:#f5f5f5;padding-left:5px}

/************ switch *******/
.ui-switch-label {
  height: 32px;
  margin-right: 20px;
  display: block;
  float: left;
}
.ui-switch-label > .ui-switch {
  float: left;
}
.ui-switch-label > span {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin-left: 10px;
}
.ui-switch {
  margin: 0 !important;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 52px !important;
  height: 32px;
  border: 1px solid #DFDFDF;
  outline: 0 !important;
  border-radius: 16px;
  box-sizing: border-box;
  background: #DFDFDF;
  background-color: #DFDFDF;
  -webkit-transition: background-color 0.1s, border 0.1s;
  transition: background-color 0.1s, border 0.1s;
  display: inline-block;
}
.ui-switch:FOCUS {
  outline: 0 !important;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(82, 168, 236, 0.6) !important;
     -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(82, 168, 236, 0.6) !important;
          box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(82, 168, 236, 0.6) !important;
  
}
.ui-switch:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  background-color: #FDFDFD;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
  transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
  transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
  transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1), -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
}
.ui-switch:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #FFFFFF;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35), -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
}
.ui-switch:checked {
  border-color: #04BE02;
  background-color: #04BE02;
}
.ui-switch:checked:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.ui-switch:checked:after {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.ui-switch-label.min {
  height: 24px;
}  
.ui-switch-label.min .ui-switch {
  height: 24px;
  width: 42px !important;
}
.ui-switch-label.min .ui-switch:before {
  height: 22px;
  width: 40px;
}
.ui-switch-label.min .ui-switch:after {
  height: 22px;
  width: 22px;
}
.ui-switch-label.min > span {
  height: 24px;
  line-height: 24px;
  margin-left: 5px;
}