/**
 *  快捷菜单  -- 请自定义
 */
.pie-chart {background-image: url(../img/quick-menu/pie-chart.png)}
.addressbook {background-image: url(../img/quick-menu/addressbook.png)}
.world {background-image: url(../img/quick-menu/world.png)}
.multi-agents {background-image: url(../img/quick-menu/multi-agents.png)}
.shield {background-image: url(../img/quick-menu/shield.png)}
.agent {background-image: url(../img/quick-menu/agent.png)}
.edit {background-image: url(../img/quick-menu/edit.png)}
.processing {background-image: url(../img/quick-menu/processing.png)}
.configuration{background-image: url(../img/quick-menu/configuration.png)}

.add-item{background-image: url(../img/quick-menu/add-item.png)}
.lookup{background-image: url(../img/quick-menu/lookup.png)}
.configuration02{background-image: url(../img/quick-menu/configuration02.png)}
.database{background-image: url(../img/quick-menu/database.png)}
.bar-chart{background-image: url(../img/quick-menu/bar-chart.png)}



.quick-menu {margin:0;text-align:left}
.quick-menu li {-webkit-box-shadow: inset 0px 1px 0px 0px #fff;box-shadow: inset 0px 1px 0px 0px #fff;text-align:center;list-style:none;display:inline-block;margin:0 2px 10px;background: #f9f9f9;background: -moz-linear-gradient(top, #f9f9f9 0%, #efefef 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#efefef));background: -webkit-linear-gradient(top, #f9f9f9 0%,#efefef 100%);background: -o-linear-gradient(top, #f9f9f9 0%,#efefef 100%);background: -ms-linear-gradient(top, #f9f9f9 0%,#efefef 100%);background: linear-gradient(top, #f9f9f9 0%,#efefef 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 );border:1px solid #e2e2e2;-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;border-radius: 6px}
.quick-menu li:hover {border-color:#d2d2d2;-moz-box-shadow: 0 0 6px #ccc;-webkit-box-shadow: 0 0 6px #ccc;box-shadow: 0 0 6px #ccc}
.quick-menu li a {position:relative;display:block;padding:42px 8px 8px;width:88px;height:22px;font-size:12px;color:#222;background-repeat:no-repeat;background-position: center 10px}
.quick-menu li a:hover {text-decoration:none}
