.-stats-three .-stat-wrap {
  width: 33.333% !important;
}
.report-simple {
  padding-left: 40px;
}
.report-wrap {
  margin: 30px 20px 20px 16px;
  position: relative;
}
.report-main {
   min-height: 200px;
   margin-right: 220px;
   background-color: #fff;
   padding: 20px;
}
.-title {
   background-color: #f6f8f9;
   line-height: 60px;
   padding: 0 20px;
   font-size: 18px;
   margin-bottom: 20px;
}
.-stats:after {
   content: "";
   display: block;
   clear: both;
}
.-stats .-stat-wrap {
   float: left;
   width: 25%;
   text-align: center;
}
.-stats .-stat {
   margin-top: 40px;
   font-size: 14px;
}
.-stats .-num {
   font-size: 32px;
   color: #333;
   margin-top: 20px;
   margin-bottom: 40px;
}
.-stats .-unit {
  font-size: 14px;
  margin: 0 5px;
  color: #999;
}
.form-fluid {
   margin-bottom: 20px;
}
.form-fluid .input-prepend .input-txt {
   width: 180px !important;
}
.form-fluid .input-prepend .add-on {
   border-radius: 0;
   line-height: 24px;
}
.-btn {
   background-color: #f4f4f4;
   display: inline-block;
   height: 34px;
   line-height: 34px;
   box-sizing: border-box;
   padding: 0 10px;
   margin: 0 10px;
   font-size: 16px;
   color: #333;
   vertical-align: middle;
}
.-btn.-btn-primary {
   background-color: #0099CC;
   color: #fff;
}
.chart-main {
   min-height: 400px;
   margin: 20px;
   border: 1px solid #f4f4f4;
}
.table-main {
   border: 0;
}
.pie-chart-main {
   width: 500px;
}
.report-main_inner:after {
   content: "";
   display: block;
   clear: both;
}
.report-main_inner .chart-main {
   width: 500px;
   float: left;
   margin: 0;
}
.report-main_inner .table-main {
   margin-left: 520px;
   font-size: 18px !important;
}
.report-main_inner .table-main td {
   text-align: center !important;
}
.report-side {
   position: fixed;
   top: 80px;
   right: 90px;
}
.report-side .report-tabs a{
   padding: 10px 15px;
   min-width: 120px;
   display: block;
   border: 1px solid #ddd;
   margin-bottom: -1px;
   border-left: 0;
   font-size: 18px;
   line-height: 32px;
   color: #999;
   background-color: #f4f4f4;
}
.report-tabs .active > a {
   border-right: 3px solid #0099CC;
   margin-right: -2px;
   color: #333;
   background-color: #fff;
}