<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmt.shop.dao.ShopDao" >
  <resultMap id="BaseResult" type="com.tmt.shop.entity.Shop"> 
    <result column="ID" property="id" jdbcType="BIGINT"/>
    <result column="NAME" property="name" jdbcType="VARCHAR"/>
  </resultMap>
  
  <select id="get" resultMap="BaseResult" parameterType="LONG">
   SELECT ID, NAME
     FROM SHOP
    WHERE ID = #{id}
  </select>
 
  <insert id="insert" parameterType="com.tmt.shop.entity.Shop">
   INSERT INTO SHOP (ID, NAME)
   VALUES (#{id}, #{name})
  </insert>
  
  <update id="update" parameterType="com.tmt.shop.entity.Shop">
   UPDATE SHOP
      SET NAME = #{name}
    WHERE ID = #{id}
  </update>
  
</mapper>