.splash {
  -fx-text-fill: #fff;
  -fx-border-width: 3px;
  -fx-border-color: #3175af;
  -fx-background-radius: 4px;
  -fx-border-radius: 4px;
  -fx-background-insets: 0;
  -fx-background: #337ab7;
  -fx-background-color: #337ab7;
  /* 10px */
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
  -fx-font-size: 0.85em;
}
.splash-title {
  -fx-font-size: 1.85em;
  -fx-text-fill: #fff;
  -fx-padding: 0 0 0 15;
}